.container {
  width: 900px;
  height: 100px;
  background: gray;
  margin: 20px;


  .principal_image {
    width: 200px;
    height: 100px;

  }
}

.first_container {
  display: flex;



}

.second_container {
  display: flex;
}